*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Primary colors */
    --Marine-blue:hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    /* Neutral Colors */
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--Light-blue);
    font-size: 80%;
}

.main-block{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-block__button{
    position: relative;
    width: 100%;
    height: 9.2rem;
    background-image: url(/assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-block__divBoton{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateY(-3em);
}
.buttonContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buttonContent__button{
    font-size: 1.2rem;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0.5em;
    margin-top: 1.5em;
    border: 1px solid var(--White);
    background-color: transparent;
    color: var(--White);
    font-weight: 700;
}

.--active{
    color: black;
    background-color: var(--Light-blue);
    border: 1px solid var(--Light-blue);
}

.buttonContent__info{
    display: none;
}

.main-block__contenido{
    width: 100%;
    display: flex;
    justify-content: center;
}

.stageContent{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stageContent__contenido{
    position: absolute;
    transform:translateY(-4rem);
    width: 85%;
    max-height: 70vh;
    background-color: white;
    border-radius: 0.8em;
    padding: 1.5em;
    padding-bottom: 2.3em;
    overflow: scroll;
}
.stageContent__botones{
    width: 100%;
    height: 12%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 0px 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stageContent__botones button{
    font-size: 1rem;
    padding: 0.9em;
    border-radius: 0.6em;
    border: none;
    font-weight: bold;
}

.--right-button{
    color: var(--White);
    background-color: var(--Marine-blue);
    cursor: pointer;
}

.--left-button{
    visibility: hidden;
    color: var(--Cool-gray);
    background-color: var(--White);
    cursor: pointer;
}
.--left-button:hover{
    color: var(--Marine-blue);
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible
}

.none{
    display: none;
}

.colorConfirm{
    background-color: var(--Purplish-blue);
}
.stage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}
.contentStageForOne{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}
.title{
    font-size: 1rem;
    width: 100%;
    margin-bottom: 0.3em;
}
.title h2{
    font-size: 1.5rem;
    margin-bottom: 0.1em;
    color: var(--Marine-blue);
}
.title p{
    color: var(--Cool-gray);
    font-size: 1.1rem;
}
.stage1__form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.stage1__form label{
    font-size: 1.1rem;
    margin: 0.4em 0px;
    color: var(--Marine-blue);
}
.stage1__form input{
    font-size: 1rem;
    border-radius: 0.3em;
    border: 1px solid var(--Cool-gray);
    padding: 0.6em 0 0.6em 1em;
    font-weight: bold;
}

.stage2Card{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 1px solid var(--Light-gray);
    padding: 0.7em;
    border-radius: 0.5em;
    margin-bottom: 0.7em;
}

.stage2Card img{
    min-width: 43px;
    min-height: 43px;
    max-width: 60px;
    max-height: 60px;
    width: 2.8em;
    height: 2.8em;
}
.stage2Card__info{
    display: flex;
    flex-direction: column;
    padding-left: 1.2em;
}
.stage2Card__info >p{
    font-size: 1.1rem;
    padding: 0.1em;
    font-weight: bold;
}

.rowCards{
    flex-direction: column;
}

/* Estilos boton toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine-blue);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--Marine-blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.buttonPlan{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Alabaster);
    border-radius: 0.625em;
    padding: 0 1em;
}

.buttonPlan__pPlan{
    color: var(--Cool-gray);
    font-weight: bold;
}

.changeColor{
    color: var(--Marine-blue);
}

.pricePlan > p{
    color: var(--Cool-gray);
    font-size: 1rem;
    padding: 0.1em;
    font-weight: bold;
}




.extraPlan{
    width: 100%;
    min-height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid var(--Light-gray);
    border-radius: 0.7em;
    padding:0.5em 0.5em;
    margin-bottom: 1em;
}

.choosePlan{
    background-color: var(--Magnolia);
    border:1px solid var(--Purplish-blue);
}
.inputPlan{
    width: 12%;
    display: flex;
    justify-content: center;
}

.inputPlan input{
    width: 1.2rem;
    height: 1.2rem;
}
.infoPlan{
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5rem;
    font-size: 1rem;
}
.infoPlan p:first-child{
    color: var(--Marine-blue);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.1em;
}
.infoPlan p:last-child{
    color: var(--Cool-gray);
    font-size: 0.9em;
}
.precioPlan{
    width: 26%;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--Purplish-blue);
    margin-right: 0.2em;
}

.planUser{
    width: 100%;
    min-height: 100px;
    border-radius: 0.6rem;
    background-color: var(--Magnolia);
    padding: 0.6rem;
}

.mainPay{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px solid var(--Light-gray);
    padding-bottom: 0.5em;
    margin-bottom: 0.7em;

    color: var(--Marine-blue);
    font-weight: bold;
}

.mainPay__info{
    color: var(--Cool-gray);
    text-decoration: underline;
    cursor: pointer;
}

.extraPay{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.8em;
}
.extraPay__p1{
    color: var(--Cool-gray);
}
.extraPlan__p2{
    color: var(--Marine-blue);
}

.totalPay{
    width: 100%;
    font-size: 1rem;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.totalPay__p1{
    color: var(--Cool-gray);
    font-weight: bold;
}

.totalPay__p2{
    color: var(--Purplish-blue);
    font-weight: bold;
}

.stage5{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-top: 2em;
    padding: 0.7em;
}
.stage5 img{
    width: 4em;
    height: 4em;
    margin-bottom: 0.5em;
}
.stage5 h1{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: var(--Marine-blue);
}
.stage5 p{
    font-size: 1.1em;
    text-align: center;
    color: var(--Cool-gray);
    line-height: 1.4em;
}

@media screen and (min-width:321px){
    body{
        font-size: 120%;
    }
    .stageContent__contenido{
        max-width: 400px;
        overflow: hidden;
    }
    .main-block__divBoton{
        max-width: 280px;
        transform: translateY(-2em);
    }
}
@media screen and (min-width:821px){
    body{
        font-size: 160%;
    }
    .main-block{
        background-color: var(--White);
        flex-direction: row;
        margin: 1rem;
        max-width: 900px;
        height: 85vh;
        margin: auto;
        padding: 1rem;
        margin-top: 3rem;
        border-radius: 0.7em;
    }
    .main-block__button{
        padding-top: 1rem;
        padding-left: 1rem;
        width: 30%;
        height:100%;
        border-radius: 0.7em;
    }
    .main-block__divBoton{
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        transform: translateY(0em);
    }
    .buttonContent__info{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        margin-top: 1.3em;
        color: var(--White);
    }
    .buttonContent__info:first-child{
        color: red;
    }
    .main-block__contenido{
        width: 70%;
        padding-top: 2em;
    }
    .stageContent__contenido{
        position: relative;
        transform:translateY(0rem);
        width: 100%;
        max-width: 500px;
        padding: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .stageContent__botones{
        position: absolute;
    }
    .title h2{
        font-size: 1.8rem;
    }
    .stage1__form label{
        font-size: 1.3rem;
    }
    .stage1__form input{
        font-size: 1.2rem;
    }
    .stage2Card{
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-bottom: 1.2em;
    }
    .stage2Card__info{
        padding-left: 0;
    }
    .rowCards{
        flex-direction: row;
        justify-content: space-around;
    }
    .buttonPlan{
        font-size: 1.3rem;
    }
    .extraPlan{
        margin-bottom: 0.7em;
    }
    .inputPlan input{
        width: 1.5rem;
        height: 1.5rem;
    }
    .infoPlan{
        font-size: 1.2rem;
    }
    .mainPay{
        font-size: 1.3rem;
    }
    .extraPay{
        font-size: 1.2rem;
    }
    .totalPay{
        font-size: 1.3rem;
    }
    .stage5{
        font-size: 1.2rem;
        text-align: center;
    }
} 

